/* Menu Section */
.menu__section-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.menu__title {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 5px;
    color: red;
}

.menu__description {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    margin-top: 0;
}

.menu {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 1%;
}

.menu__item {
    width: auto;
    display: flex;
    box-shadow: 1px 1px 5px lightgrey;
}

.menu__item:hover {
    transform: scale(1.02);
}

.menu__item-img-container {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease;
}

.menu__item-img-container:hover {
    transform: scale(1.02);
}

.menu__item-img {
    width: 15%;
}

.menu__item-text-container {
    display: flex;
    padding-left: 2%;
    flex-direction: column;
}

.menu__btn-main {
    background-color: red;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 50px;
    min-width: 50px;
}

.menu__btn-main:hover {
    opacity: 40%;
    border-radius: 5px;
}

@media only screen and (max-width: 765px) {
    /* Menu Section */
    .our-menu-container {
    }

    .our-menu {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-item-container {
        width: 100%;
    }

    .menu-item-img-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu-item-img {
        width: 50%;
    }

    .btn-main {
    }

}